In [2]:
# 📦 Imports nécessaires
import pandas as pd

In [4]:
# 📂 Chargement des données
df = pd.read_csv("output/jobs_infos.csv")

In [6]:
# 🧼 Nettoyage basique des TJM
df["TJM_min"] = df["TJM"].str.extract(r'(\d+)\s*€')
df["TJM_max"] = df["TJM"].str.extract(r'(\d+)[^0-9]+(\d+)').iloc[:,1]
df["TJM_min"] = pd.to_numeric(df["TJM_min"], errors="coerce")
df["TJM_max"] = pd.to_numeric(df["TJM_max"], errors="coerce")
df["TJM_moyen"] = df[["TJM_min", "TJM_max"]].mean(axis=1)

# 🧼 Nettoyage des durées
df["DURATION_clean"] = df["DURATION"].str.extract(r'(\d+)').astype(float)

# 📊 Statistiques générales
print("📌 Nombre total d'offres :", len(df))
print("\n📌 TJM moyen (hors NaN) :", round(df["TJM_moyen"].mean(), 2), "€")

# 📌 Durée moyenne (en mois)
print("\n📌 Durée moyenne (en mois) :", round(df["DURATION_clean"].mean(), 2))

# 📌 Répartition par expérience
print("\n📌 Répartition des niveaux d'expérience :")
print(df["EXPERIENCE"].value_counts())

# 📌 Répartition géographique
print("\n📌 Répartition géographique :")
print(df["LOCATION"].value_counts())

# 📌 Aperçu des offres triées par TJM
print("\n📌 Top offres par TJM moyen :")
print(df[["TITLE", "TJM", "TJM_moyen"]].sort_values(by="TJM_moyen", ascending=False))

# 📌 Missions sans TJM ou durée renseignée
print("\n📌 Offres sans TJM ou durée renseignée :")
print(df[df["TJM_moyen"].isna() | df["DURATION_clean"].isna()][["TITLE", "TJM", "DURATION"]])

📌 Nombre total d'offres : 64

📌 TJM moyen (hors NaN) : 468.15 €

📌 Durée moyenne (en mois) : 9.84

📌 Répartition des niveaux d'expérience :
EXPERIENCE
5 à 10 ans d’expérience    40
2 à 5 ans d’expérience     15
> 10 ans d’expérience       8
< 2 ans d’expérience        1
Name: count, dtype: int64

📌 Répartition géographique :
LOCATION
Paris, France                            16
Paris, Île-de-France                      7
France                                    5
Saint-Herblain, Pays de la Loire          5
Lille, Hauts-de-France                    3
Toulouse, Occitanie                       3
Lyon, Auvergne-Rhône-Alpes                3
Montpellier, Occitanie                    2
Grand Est, France                         1
Bagneux, Île-de-France                    1
Gémenos, Provence-Alpes-Côte d'Azur       1
Provence-Alpes-Côte d'Azur, France        1
Montréal, Québec, Canada                  1
Marignane, Provence-Alpes-Côte d'Azur     1
Strasbourg, Grand Est                     1
Nice, Provence-Alpes-Côte d'Azur          1
Rennes, Bretagne                          1
Châteauroux, Centre-Val de Loire          1
Bordeaux, Nouvelle-Aquitaine              1
Suisse                                    1
Issy-les-Moulineaux, Île-de-France        1
Valmascle, Occitanie                      1
Montreuil, Île-de-France                  1
Toulouse, France                          1
Casablanca, Casablanca-Settat, Maroc      1
Barcelone, Catalogne, Espagne             1
Maroc                                     1
Nantes, Pays de la Loire                  1
Name: count, dtype: int64

📌 Top offres par TJM moyen :
                                                TITLE          TJM  TJM_moyen
53  Mission freelance CLOUD analyst - Azure AWS Fi...  450-900 €⁄j      900.0
0   Mission freelance Lead Architect: Initiative a...  750-850 €⁄j      850.0
46  Mission freelance consultant fonctionnel CRM/S...  700-810 €⁄j      810.0
3   Mission freelance Digital business Solution an...  400-790 €⁄j      790.0
56                Mission freelance Keycloak auditeur  280-780 €⁄j      780.0
..                                                ...          ...        ...
15  Offre d'emploi Spécialiste Divalto (H/F) au CA...          NaN        NaN
22           Offre d'emploi Développeur windev mobile     46k €⁄an        NaN
30  Mission freelance Un Administrateur pour la so...          NaN        NaN
48  Mission freelance Senior Salesforce Marketing ...          NaN        NaN
60               Mission freelance Consultant SAP ISH          NaN        NaN

[64 rows x 3 columns]

📌 Offres sans TJM ou durée renseignée :
                                                TITLE           TJM   DURATION
4                  Offre d'emploi Engineering Manager           NaN        NaN
10     Mission freelance Senior integration Architect           NaN    12 mois
11      Offre d'emploi DBA DE PRODUCTION ORACLE - H/F           NaN        NaN
12  Mission freelance Infra DEVOPS - Full Remote -...           NaN    12 mois
15  Offre d'emploi Spécialiste Divalto (H/F) au CA...           NaN       1 an
22           Offre d'emploi Développeur windev mobile      46k €⁄an     3 mois
30  Mission freelance Un Administrateur pour la so...           NaN  149 jours
36  Offre d'emploi Développeur MS Dynamics Busines...  45k-60k €⁄an        NaN
48  Mission freelance Senior Salesforce Marketing ...           NaN     6 mois
60               Mission freelance Consultant SAP ISH           NaN    5 jours