In [1]:
# ğŸ“¦ Imports nÃ©cessaires
import pandas as pd

In [12]:
# ğŸ“‚ Chargement des donnÃ©es
df = pd.read_csv("output/jobs_infos.csv")

In [13]:
# ğŸ§¼ Nettoyage basique des TJM
df["TJM_min"] = df["TJM"].str.extract(r'(\d+)\s*â‚¬')
df["TJM_max"] = df["TJM"].str.extract(r'(\d+)[^0-9]+(\d+)').iloc[:,1]
df["TJM_min"] = pd.to_numeric(df["TJM_min"], errors="coerce")
df["TJM_max"] = pd.to_numeric(df["TJM_max"], errors="coerce")
df["TJM_moyen"] = df[["TJM_min", "TJM_max"]].mean(axis=1)

# ğŸ§¼ Nettoyage des durÃ©es
df["DURATION_clean"] = df["DURATION"].str.extract(r'(\d+)').astype(float)

# ğŸ“Š Statistiques gÃ©nÃ©rales
print("ğŸ“Œ Nombre total d'offres :", len(df))
print("\nğŸ“Œ TJM moyen (hors NaN) :", round(df["TJM_moyen"].mean(), 2), "â‚¬")

# ğŸ“Œ DurÃ©e moyenne (en mois)
print("\nğŸ“Œ DurÃ©e moyenne (en mois) :", round(df["DURATION_clean"].mean(), 2))

# ğŸ“Œ RÃ©partition par expÃ©rience
print("\nğŸ“Œ RÃ©partition des niveaux d'expÃ©rience :")
print(df["EXPERIENCE"].value_counts())

# ğŸ“Œ RÃ©partition gÃ©ographique
print("\nğŸ“Œ RÃ©partition gÃ©ographique :")
print(df["LOCATION"].value_counts())

# ğŸ“Œ AperÃ§u des offres triÃ©es par TJM
print("\nğŸ“Œ Top offres par TJM moyen :")
print(df[["TITLE", "TJM_moyen"]].sort_values(by="TJM_moyen", ascending=False))

# ğŸ“Œ Missions sans TJM ou durÃ©e renseignÃ©e
print("\nğŸ“Œ Offres sans TJM ou durÃ©e renseignÃ©e :")
print(df[df["TJM_moyen"].isna() | df["DURATION_clean"].isna()][["TITLE", "TJM", "DURATION"]])

ğŸ“Œ Nombre total d'offres : 64

ğŸ“Œ TJM moyen (hors NaN) : 468.71 â‚¬

ğŸ“Œ DurÃ©e moyenne (en mois) : 9.92

ğŸ“Œ RÃ©partition des niveaux d'expÃ©rience :
EXPERIENCE
5 Ã  10 ans dâ€™expÃ©rience    43
2 Ã  5 ans dâ€™expÃ©rience     13
> 10 ans dâ€™expÃ©rience       7
< 2 ans dâ€™expÃ©rience        1
Name: count, dtype: int64

ğŸ“Œ RÃ©partition gÃ©ographique :
LOCATION
Paris, France                                  17
Paris, Ãle-de-France                            6
Saint-Herblain, Pays de la Loire                5
France                                          4
Lille, Hauts-de-France                          3
Toulouse, Occitanie                             3
Lyon, Auvergne-RhÃ´ne-Alpes                      3
Montpellier, Occitanie                          2
Provence-Alpes-CÃ´te d'Azur, France              1
Bagneux, Ãle-de-France                          1
GÃ©menos, Provence-Alpes-CÃ´te d'Azur             1
Ãle-de-France, France                           1
Grand Est, France                               1
Aix-en-Provence, Provence-Alpes-CÃ´te d'Azur     1
Marignane, Provence-Alpes-CÃ´te d'Azur           1
Strasbourg, Grand Est                           1
Nice, Provence-Alpes-CÃ´te d'Azur                1
Rennes, Bretagne                                1
ChÃ¢teauroux, Centre-Val de Loire                1
Bordeaux, Nouvelle-Aquitaine                    1
Suisse                                          1
Issy-les-Moulineaux, Ãle-de-France              1
Valmascle, Occitanie                            1
Montreuil, Ãle-de-France                        1
Toulouse, France                                1
Casablanca, Casablanca-Settat, Maroc            1
Barcelone, Catalogne, Espagne                   1
Maroc                                           1
Nantes, Pays de la Loire                        1
Name: count, dtype: int64

ğŸ“Œ Top offres par TJM moyen :
                                                TITLE  TJM_moyen
53                   CLOUD analyst - Azure AWS Finops      900.0
3   Lead Architect: Initiative and Team Leadership...      850.0
47  consultant fonctionnel D365 CRM/Sales (Lead an...      810.0
6                   Digital business Solution analyst      790.0
58                                  Keycloak auditeur      780.0
..                                                ...        ...
15  Infra DEVOPS - Full Remote -  (Part-time -> 2 ...        NaN
23                          DÃ©veloppeur windev mobile        NaN
31         Un Administrateur pour la solution ERP VIF        NaN
49  Senior Salesforce Marketing Cloud Front-end De...        NaN
61                                 Consultant SAP ISH        NaN

[64 rows x 2 columns]

ğŸ“Œ Offres sans TJM ou durÃ©e renseignÃ©e :
                                                TITLE           TJM   DURATION
7                                 Engineering Manager           NaN        NaN
13                       Senior integration Architect           NaN    12 mois
14                     DBA DE PRODUCTION ORACLE - H/F           NaN        NaN
15  Infra DEVOPS - Full Remote -  (Part-time -> 2 ...           NaN    12 mois
23                          DÃ©veloppeur windev mobile      46kÂ â‚¬â„an     3 mois
31         Un Administrateur pour la solution ERP VIF           NaN  149 jours
37  DÃ©veloppeur MS Dynamics Business Central - Rem...  45k-60kÂ â‚¬â„an        NaN
49  Senior Salesforce Marketing Cloud Front-end De...           NaN     6 mois
61                                 Consultant SAP ISH           NaN    5 jours

In [30]:
# ğŸ” DÃ©finir le skill Ã  chercher
skill = "python"

# ğŸ§¼ Nettoyer un peu le texte : on peut tout passer en minuscule pour Ã©viter les problÃ¨mes de casse
df["SKILLS_str"] = df["SKILLS"].fillna("").str.lower()

# ğŸ” Filtrer les lignes contenant le mot-clÃ© (skill)
filtered = df[df["SKILLS_str"].str.contains(skill.lower())]

# ğŸ–¨ï¸ RÃ©sultat
print(f"\nğŸ¯ Offres contenant le skill '{skill}':")
print(filtered[["TITLE", "SKILLS", "LOCATION"]])

ğŸ¯ Offres contenant le skill 'python':
                                              TITLE  \
4   DÃ©veloppeur Rust - Full remote - Anglais fluent
21      Data Engineer Dev Palantir Skywise & Python
55                                 IngÃ©nieur DevOps

                                               SKILLS  \
4                                  ['Python', 'Rust']
21                                         ['Python']
55  ['Agile Scrum', 'Apache Kafka', 'Bash', 'BigQu...

                                 LOCATION
4                           Paris, France
21  Marignane, Provence-Alpes-CÃ´te d'Azur
55                                  Maroc

In [21]:
from collections import Counter
import re

# ğŸ§¼ Convertir tous les skills en minuscules, nettoyer les crochets et guillemets
skills_series = df["SKILLS"].dropna().str.lower()

# ğŸ” Extraire tous les mots entre quotes avec regex
all_skills = []

for skills_str in skills_series:
    # On extrait tous les mots entre quotes simples : 'python', 'rust'...
    skills = re.findall(r"'([^']+)'", skills_str)
    all_skills.extend(skills)

# ğŸ§® Compter les occurrences
skill_counts = Counter(all_skills)

# ğŸ” Afficher le top 10
print("ğŸ’¡ CompÃ©tences les plus demandÃ©es :")
for skill, count in skill_counts.most_common(10):
    print(f"{skill}: {count} fois")

ğŸ’¡ CompÃ©tences les plus demandÃ©es :
sap: 8 fois
java: 4 fois
python: 3 fois
cybersÃ©curitÃ©: 3 fois
.net: 3 fois
aws cloud: 2 fois
iam: 2 fois
pentesting: 2 fois
devops: 2 fois
endpoint detection and response (edr): 2 fois