In [1]:
# ðŸ“¦ Imports nÃ©cessaires
import pandas as pd

In [2]:
# ðŸ“‚ Chargement des donnÃ©es
df = pd.read_csv("output/jobs_infos.csv")

In [4]:
# ðŸ§¼ Nettoyage basique des TJM
df["TJM_min"] = df["TJM"].str.extract(r'(\d+)\s*â‚¬')
df["TJM_max"] = df["TJM"].str.extract(r'(\d+)[^0-9]+(\d+)').iloc[:,1]
df["TJM_min"] = pd.to_numeric(df["TJM_min"], errors="coerce")
df["TJM_max"] = pd.to_numeric(df["TJM_max"], errors="coerce")
df["TJM_moyen"] = df[["TJM_min", "TJM_max"]].mean(axis=1)

# ðŸ§¼ Nettoyage des durÃ©es
df["DURATION_clean"] = df["DURATION"].str.extract(r'(\d+)').astype(float)

# ðŸ“Š Statistiques gÃ©nÃ©rales
print("ðŸ“Œ Nombre total d'offres :", len(df))
print("\nðŸ“Œ TJM moyen (hors NaN) :", round(df["TJM_moyen"].mean(), 2), "â‚¬")

# ðŸ“Œ DurÃ©e moyenne (en mois)
print("\nðŸ“Œ DurÃ©e moyenne (en mois) :", round(df["DURATION_clean"].mean(), 2))

# ðŸ“Œ RÃ©partition par expÃ©rience
print("\nðŸ“Œ RÃ©partition des niveaux d'expÃ©rience :")
print(df["EXPERIENCE"].value_counts())

# ðŸ“Œ RÃ©partition gÃ©ographique
print("\nðŸ“Œ RÃ©partition gÃ©ographique :")
print(df["LOCATION"].value_counts())

# ðŸ“Œ AperÃ§u des offres triÃ©es par TJM
print("\nðŸ“Œ Top offres par TJM moyen :")
print(df[["TITLE", "TJM_moyen"]].sort_values(by="TJM_moyen", ascending=False))

# ðŸ“Œ Missions sans TJM ou durÃ©e renseignÃ©e
print("\nðŸ“Œ Offres sans TJM ou durÃ©e renseignÃ©e :")
print(df[df["TJM_moyen"].isna() | df["DURATION_clean"].isna()][["TITLE", "TJM", "DURATION"]])

ðŸ“Œ Nombre total d'offres : 16

ðŸ“Œ TJM moyen (hors NaN) : 510.0 â‚¬

ðŸ“Œ DurÃ©e moyenne (en mois) : 8.36

ðŸ“Œ RÃ©partition des niveaux d'expÃ©rience :
EXPERIENCE
5 Ã  10 ans dâ€™expÃ©rience    10
> 10 ans dâ€™expÃ©rience       3
2 Ã  5 ans dâ€™expÃ©rience      2
< 2 ans dâ€™expÃ©rience        1
Name: count, dtype: int64

ðŸ“Œ RÃ©partition gÃ©ographique :
LOCATION
Paris, France                          3
Paris, ÃŽle-de-France                   2
France                                 2
Saint-Herblain, Pays de la Loire       2
Montpellier, Occitanie                 1
Lille, Hauts-de-France                 1
Provence-Alpes-CÃ´te d'Azur, France     1
Grand Est, France                      1
Toulouse, Occitanie                    1
Bagneux, ÃŽle-de-France                 1
GÃ©menos, Provence-Alpes-CÃ´te d'Azur    1
Name: count, dtype: int64

ðŸ“Œ Top offres par TJM moyen :
                                                TITLE  TJM_moyen
3   Lead Architect: Initiative and Team Leadership...      850.0
6                   Digital business Solution analyst      790.0
1   ELK Senior Consultant: Logboard, Stack Managem...      750.0
8                      Architecte Principal IAM (H/F)      600.0
4     DÃ©veloppeur Rust - Full remote - Anglais fluent      550.0
0                                      UX/UI Designer      550.0
10                            Backend Engineer (Node)      450.0
2      Consultant SAP ABAP S/4 PI/PO SCPI 100% Remote      400.0
12            Lead DÃ©veloppeur C# (H/F) - TÃ©lÃ©travail      400.0
9       DEVIENS #AUTEUR L'impresison 3D avec SketchUp      300.0
11    DEVIENS #AUTEUR Les tests d'intrusion - Pentest      300.0
5   DÃ©veloppeur Java SÃ©nior | Casabalanca 100% Remote      180.0
7                                 Engineering Manager        NaN
13                       Senior integration Architect        NaN
14                     DBA DE PRODUCTION ORACLE - H/F        NaN
15  Infra DEVOPS - Full Remote -  (Part-time -> 2 ...        NaN

ðŸ“Œ Offres sans TJM ou durÃ©e renseignÃ©e :
                                                TITLE  TJM DURATION
7                                 Engineering Manager  NaN      NaN
13                       Senior integration Architect  NaN  12 mois
14                     DBA DE PRODUCTION ORACLE - H/F  NaN      NaN
15  Infra DEVOPS - Full Remote -  (Part-time -> 2 ...  NaN  12 mois