In [2]:
# ðŸ“¦ Imports nÃ©cessaires
import pandas as pd

In [4]:
# ðŸ“‚ Chargement des donnÃ©es
df = pd.read_csv("output/jobs_infos.csv")

In [6]:
# ðŸ§¼ Nettoyage basique des TJM
df["TJM_min"] = df["TJM"].str.extract(r'(\d+)\s*â‚¬')
df["TJM_max"] = df["TJM"].str.extract(r'(\d+)[^0-9]+(\d+)').iloc[:,1]
df["TJM_min"] = pd.to_numeric(df["TJM_min"], errors="coerce")
df["TJM_max"] = pd.to_numeric(df["TJM_max"], errors="coerce")
df["TJM_moyen"] = df[["TJM_min", "TJM_max"]].mean(axis=1)

# ðŸ§¼ Nettoyage des durÃ©es
df["DURATION_clean"] = df["DURATION"].str.extract(r'(\d+)').astype(float)

# ðŸ“Š Statistiques gÃ©nÃ©rales
print("ðŸ“Œ Nombre total d'offres :", len(df))
print("\nðŸ“Œ TJM moyen (hors NaN) :", round(df["TJM_moyen"].mean(), 2), "â‚¬")

# ðŸ“Œ DurÃ©e moyenne (en mois)
print("\nðŸ“Œ DurÃ©e moyenne (en mois) :", round(df["DURATION_clean"].mean(), 2))

# ðŸ“Œ RÃ©partition par expÃ©rience
print("\nðŸ“Œ RÃ©partition des niveaux d'expÃ©rience :")
print(df["EXPERIENCE"].value_counts())

# ðŸ“Œ RÃ©partition gÃ©ographique
print("\nðŸ“Œ RÃ©partition gÃ©ographique :")
print(df["LOCATION"].value_counts())

# ðŸ“Œ AperÃ§u des offres triÃ©es par TJM
print("\nðŸ“Œ Top offres par TJM moyen :")
print(df[["TITLE", "TJM", "TJM_moyen"]].sort_values(by="TJM_moyen", ascending=False))

# ðŸ“Œ Missions sans TJM ou durÃ©e renseignÃ©e
print("\nðŸ“Œ Offres sans TJM ou durÃ©e renseignÃ©e :")
print(df[df["TJM_moyen"].isna() | df["DURATION_clean"].isna()][["TITLE", "TJM", "DURATION"]])

ðŸ“Œ Nombre total d'offres : 64

ðŸ“Œ TJM moyen (hors NaN) : 468.15 â‚¬

ðŸ“Œ DurÃ©e moyenne (en mois) : 9.84

ðŸ“Œ RÃ©partition des niveaux d'expÃ©rience :
EXPERIENCE
5 Ã  10 ans dâ€™expÃ©rience    40
2 Ã  5 ans dâ€™expÃ©rience     15
> 10 ans dâ€™expÃ©rience       8
< 2 ans dâ€™expÃ©rience        1
Name: count, dtype: int64

ðŸ“Œ RÃ©partition gÃ©ographique :
LOCATION
Paris, France                            16
Paris, ÃŽle-de-France                      7
France                                    5
Saint-Herblain, Pays de la Loire          5
Lille, Hauts-de-France                    3
Toulouse, Occitanie                       3
Lyon, Auvergne-RhÃ´ne-Alpes                3
Montpellier, Occitanie                    2
Grand Est, France                         1
Bagneux, ÃŽle-de-France                    1
GÃ©menos, Provence-Alpes-CÃ´te d'Azur       1
Provence-Alpes-CÃ´te d'Azur, France        1
MontrÃ©al, QuÃ©bec, Canada                  1
Marignane, Provence-Alpes-CÃ´te d'Azur     1
Strasbourg, Grand Est                     1
Nice, Provence-Alpes-CÃ´te d'Azur          1
Rennes, Bretagne                          1
ChÃ¢teauroux, Centre-Val de Loire          1
Bordeaux, Nouvelle-Aquitaine              1
Suisse                                    1
Issy-les-Moulineaux, ÃŽle-de-France        1
Valmascle, Occitanie                      1
Montreuil, ÃŽle-de-France                  1
Toulouse, France                          1
Casablanca, Casablanca-Settat, Maroc      1
Barcelone, Catalogne, Espagne             1
Maroc                                     1
Nantes, Pays de la Loire                  1
Name: count, dtype: int64

ðŸ“Œ Top offres par TJM moyen :
                                                TITLE          TJM  TJM_moyen
53  Mission freelance CLOUD analyst - Azure AWS Fi...  450-900Â â‚¬â„j      900.0
0   Mission freelance Lead Architect: Initiative a...  750-850Â â‚¬â„j      850.0
46  Mission freelance consultant fonctionnel CRM/S...  700-810Â â‚¬â„j      810.0
3   Mission freelance Digital business Solution an...  400-790Â â‚¬â„j      790.0
56                Mission freelance Keycloak auditeur  280-780Â â‚¬â„j      780.0
..                                                ...          ...        ...
15  Offre d'emploi SpÃ©cialiste Divalto (H/F) au CA...          NaN        NaN
22           Offre d'emploi DÃ©veloppeur windev mobile     46kÂ â‚¬â„an        NaN
30  Mission freelance Un Administrateur pour la so...          NaN        NaN
48  Mission freelance Senior Salesforce Marketing ...          NaN        NaN
60               Mission freelance Consultant SAP ISH          NaN        NaN

[64 rows x 3 columns]

ðŸ“Œ Offres sans TJM ou durÃ©e renseignÃ©e :
                                                TITLE           TJM   DURATION
4                  Offre d'emploi Engineering Manager           NaN        NaN
10     Mission freelance Senior integration Architect           NaN    12 mois
11      Offre d'emploi DBA DE PRODUCTION ORACLE - H/F           NaN        NaN
12  Mission freelance Infra DEVOPS - Full Remote -...           NaN    12 mois
15  Offre d'emploi SpÃ©cialiste Divalto (H/F) au CA...           NaN       1 an
22           Offre d'emploi DÃ©veloppeur windev mobile      46kÂ â‚¬â„an     3 mois
30  Mission freelance Un Administrateur pour la so...           NaN  149 jours
36  Offre d'emploi DÃ©veloppeur MS Dynamics Busines...  45k-60kÂ â‚¬â„an        NaN
48  Mission freelance Senior Salesforce Marketing ...           NaN     6 mois
60               Mission freelance Consultant SAP ISH           NaN    5 jours